.post-article {
    h2 {
        clear: both;
        margin: 0;
        font-family: "Open Sans", "Arial", sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        color: $post-color--accent;
        line-height: 1.77;
    }
    h3 {
        clear: both;
        margin: 0;
        font-family: "Open Sans", "Arial", sans-serif;
        font-weight: 600;
        font-size: 1.3125rem;
        color: $post-color--accent;
        line-height: 1.77;
    }
    h4 {
        clear: both;
        margin: 0;
        font-family: "Open Sans", "Arial", sans-serif;
        font-weight: 600;
        font-size: 1.25rem;
        color: $post-color--accent;
        line-height: 1.77;
    }
    h5 {
        clear: both;
        margin: 0;
        font-family: "Open Sans", "Arial", sans-serif;
        font-weight: 600;
        font-size: 1.125rem;
        color: $post-color--accent;
        line-height: 1.77;
    }
    p {
        clear: both;
        margin: 0;
        font-family: "Open Sans", "Arial", sans-serif;
        font-weight: 400;
        font-size: 1.125rem;
        color: $post-color--accent;
        line-height: (28/18);
    }
    a {
        clear: both;
        margin: 0;
        font-family: "Open Sans", "Arial", sans-serif;
        font-weight: 400;
        font-size: 1.125rem;
        color: $post-link-color;
        line-height: (28/18);
    }
    img {
        width: 100%;
        height: auto;
        &.img--50 {
            width: 100%;
            height: 320px;
            margin: 30px 0;
            @include grid-breakpoint(md) {
                display: inline-block;
                float: left;
                width: 46%;
                width: calc(50% - 15px);
                height: 320px;
                margin: 20px 7px;
            }
        }
    }
}
