.rating {
    display: flex;
    margin-left: -3px;
}

.rating-item {
    width: 20px;
    height: 20px;
    margin: 0 3px;
    background-image: url('../img/icons/stars-back.svg');
    background-repeat: no-repeat;
    background-size: 150px 20px;
    cursor: pointer;
}

.rating-item.active{
    background-image: url('../img/icons/stars-front.svg');
    background-repeat: no-repeat;
    background-size: 150px 20px;
}
