.confidential-policy {
    h2 {
        margin: 40px 0 20px 0;
        font-family: "Gotham", "Arial", sans-serif;
        font-weight: 700;
        font-size: 1.125rem;
        color: #242524;
        line-height: (28/18);
        text-transform: uppercase;
    }
    p {
        margin: 10px 0;
        font-family: "Open Sans", "Arial", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: #242524;
        line-height: (24/16);
    }
}
