.contacts-wrapper {
    @include grid-row();
    margin-bottom: 70px;
    @include grid-breakpoint(md) {
        margin-bottom: 110px;
    }

    .contacts-nav {
        @include grid-col(12 12 12 4);

        .contacts-nav__text {
            margin: 0;
            font-family: "Open Sans", "Arial", sans-serif;
            font-weight: 400;
            font-size: 1rem;
            color: #343434;
            line-height: (24/16);
        }

        .contacts-nav__city-select-block {
            margin: 45px 0 0 0;
            .city-select-block__title {
                font-family: "Gotham", "Arial", sans-serif;
                font-weight: 700;
                font-size: 0.875rem;
                color: $accent-color;
                text-transform: uppercase;
            }
        }
    }

    .contacts-map {
        @include grid-col(12 12 12 8);
        height: 385px;
        margin: 50px 0 0 0;
        padding: 0;
        background-color: #5f5f5f;

        @include grid-breakpoint(md) {
            height: 500px;
            margin: 0;
            padding: 0 15px;
        }
    }
}

.city-select-block__shop-info {
    margin: 20px 0;

    .shop-info__link {
        position: relative;
        padding: 0 25px 0 0;
        font-family: "Gotham", "Arial", sans-serif;
        font-weight: 700;
        font-size: 0.875rem;
        color: #343434;
        text-transform: uppercase;
        &.opened {
            .shop-info__link__icon {
                .plus-vertical {
                    display: none;
                }
            }
        }
        .shop-info__link__icon {
            position: absolute;
            top: 50%;
            right: 0;
            width: 8px;
            height: 8px;
            margin-top: -4px;
            fill: #343434;
        }
    }

    .shop-info__item {
        display: none;
        padding: 0 0 50px 0;

        .item__info-block {
            margin: 17px 0;
            @include grid-breakpoint(md) {
                margin: 22px 0 12px 0;
            }

            .info-block__icon {
                float: left;
                width: 15px;
                height: 15px;
                margin: 5px 25px 0 0;
            }

            .info-block__link {
                font-family: "Open Sans", "Arial", sans-serif;
                font-weight: 400;
                font-size: 0.875rem;
                color: #343434;
                line-height: (24/16);
                @include grid-breakpoint(md) {
                    transition: color 0.3s;
                    &:hover,
                    &:focus {
                        color: $accent-color;
                    }
                }
            }

            .info-block__text {
                display: inline-block;
                margin: 0;
                font-family: "Open Sans", "Arial", sans-serif;
                font-weight: 400;
                font-size: 0.875rem;
                color: #343434;
                line-height: (24/16);
                strong,
                b {
                    font-weight: 700;
                }
            }
        }

        .item__map-link {
            margin: 35px 0 0 0;
            font-family: "Gotham", "Arial", sans-serif;
            font-weight: 700;
            font-size: 0.75rem;
            color: $accent-color;
            line-height: (20/12);
            text-transform: uppercase;

            a {
                color: $accent-color;
                text-decoration: none;
            }
        }
    }
}

// Кастомизация информационного окна Google Map
.map-info {
    padding: 0 0 10px 0;
    // background-color: #f9f9f9;
    .map-info__title {
        margin: 15px 0;
        font-family: "Gotham", "Arial", sans-serif;
        font-weight: 700;
        font-size: 0.875rem;
        color: #343434;
        line-height: 1.33;
        text-transform: uppercase;
    }
    .map-info__icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 6px 0 0 0;
    }
    .map-info__link {
        display: inline-block;
        margin: 0 0 0 10px;
        font-family: "Open Sans", "Arial", sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        color: #343434;
        line-height: 1;
        @include grid-breakpoint(md) {
            line-height: 1.33;
            transition: color 0.3s;
            &:hover {
                color: $accent-color;
            }
        }
    }
}
