/*
 * 1. Colors
 */
$accent-color: #3fb8ea;

// Header
$header-bg--topbar: #ffffff;
$header-bg--lowbar: #f5f5f5;

// Navigation
$nav-link-color: #252425;
$nav-link-color--hover: #3fb8ea;

// Dropdown navigation
$dropdown-nav-link-color: #3b3b3b;

// Adaptive Navigation
$adaptive-nav-bg: #262a34;


// Section component
$section-title-color: #333333;

// Footer
$footer-bg--topbar: #262a34;
$footer-bg--lowbar: #181c24;

// Footer navigation links
$footer-nav-link-color: #b9b9b9;

// Post article
$post-color--accent: #3f3f3f;
$post-link-color: #3fb8ea;
