<div class="remodal large" id="quickview-modal" data-remodal-id="quickview-modal">
    <button class="remodal-close" data-remodal-action="close" aria-label="Закрыть окно">
        <span></span>
        <span></span>
    </button>
    <div class="quickview-modal">
        <div class="quickview-modal-content">
            <div class="quickview-header">
                <p class="quickview-header__availability"></p>
                <h3 class="quickview-header__title"></h3>
                <p class="quickview-header__brand"></p>
            </div>
            <div class="quickview-body">
                <div class="row">
                    <div class="product-image">
                        <span class="product__favorite">
                            <svg class="favorite__icon" x="0px" y="0px" viewBox="0 0 21.4 17.7">
                                <g>
                                    <path class="st0" d="M10.7,17.4c0,0-0.1,0-0.1,0c-1-0.8-1.8-1.5-2.7-2.1c-2-1.5-3.8-3.1-5.5-4.8c-1.3-1.2-2-2.9-2.1-4.7   C0.3,4.3,0.9,3,1.8,2c1-1,2.4-1.6,3.8-1.6c1.7,0,3.2,0.8,4.2,2.2C10,2.8,10.1,3,10.3,3.3L10.7,4l0.4-0.8c0.2-0.3,0.3-0.5,0.5-0.8   c1-1.3,2.5-2.2,4.1-2.2c1.4,0,2.8,0.6,3.8,1.6c0.9,1,1.5,2.4,1.5,3.8C21,7.5,20.3,9.1,19,10.4c-1.7,1.7-3.5,3.3-5.5,4.8l-0.1,0.1   c-0.8,0.6-1.6,1.3-2.5,2C10.8,17.3,10.8,17.3,10.7,17.4z"/>
                                    <path class="st1" d="M19.8,1.7c-1-1.1-2.5-1.7-4-1.7c0,0,0,0-0.1,0h0c-1.8,0-3.4,0.9-4.4,2.3c-0.2,0.3-0.4,0.5-0.5,0.8l-0.1,0.2   l-0.1-0.2c-0.2-0.3-0.3-0.5-0.5-0.8C9,0.9,7.4,0,5.6,0c0,0,0,0-0.1,0c-1.5,0-3,0.6-4,1.7C0.5,2.8,0,4.2,0,5.7   c0.1,1.9,0.8,3.6,2.2,4.9c1.7,1.7,3.6,3.4,5.6,4.8c0.8,0.7,1.7,1.4,2.6,2.1c0.2,0.2,0.5,0.2,0.7,0c0.6-0.5,1.1-0.9,1.6-1.3   c0.3-0.3,0.7-0.5,1-0.8c2-1.5,3.8-3.1,5.5-4.9c1.3-1.3,2.1-3,2.2-4.9C21.4,4.2,20.8,2.8,19.8,1.7z M18.7,10.1   c-1.7,1.7-3.5,3.3-5.5,4.8L13.1,15c-0.7,0.6-1.5,1.2-2.3,1.9L10.7,17l-1-0.8c-0.5-0.4-1.1-0.9-1.6-1.3c-1.9-1.4-3.7-3.1-5.4-4.8   C1.5,9,0.8,7.4,0.7,5.7c0-1.3,0.5-2.6,1.4-3.5c0.9-1,2.2-1.5,3.5-1.5c0,0,0,0,0.1,0c1.6,0,3,0.8,3.9,2.1C9.7,3,9.8,3.2,10,3.5   l0.7,1.2l0.7-1.3c0.1-0.2,0.3-0.5,0.5-0.7c0.9-1.3,2.3-2.1,3.9-2.1c1.3,0,2.6,0.5,3.6,1.5c0.9,1,1.4,2.2,1.4,3.5   C20.6,7.4,19.9,9,18.7,10.1z"/>
                                </g>
                            </svg>
                        </span>
                        <div class="swiper-container product-item-slider-quickview">
                            <div class="swiper-wrapper"></div>
                            <div class="product-item-slider-quickview__pagination"></div>
                        </div>
                        <div class="catalog-slider__hint">
                            <p class="hint__text">Листайте, чтобы смотреть товары</p>
                            <div class="hint__icons">
                                <svg class="hint__icon" viewBox="0 0 15 8" width="15px" height="8px">
                                    <polygon points="0 4 5 8 5 5 15 5 15 3 5 3 5 0 0 4"/>
                                </svg>
                                <svg class="hint__icon" viewBox="0 0 15 8" width="15px" height="8px">
                                    <polygon points="15 4 10 0 10 3.12 0 3.12 0 5.12 10 5.12 10 8 15 4"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-info__colors">
                            <p class="product-info__subtitle">Цвета</p>
                            <div class="colors-block"></div>
                        </div>
                        <div class="product-info__sizes">
                            <p class="product-info__subtitle">Размеры</p>
                            <div class="product-info__sizes-block">
                                <button class="pseudo-select" aria-label="выберите размер">выберите размер
                                    <svg class="pseudo-select__icon" viewBox="0 0 8 8" width="8px" height="8px">
                                        <rect y="3" width="8" height="2"/>
                                        <rect class="plus-vertical" y="3" transform="matrix(4.501980e-011 1 -1 4.501980e-011 8 -1.809886e-010)" width="8" height="2"/>
                                    </svg>
                                </button>
                                <div class="sizes-block__wrapper">
                                    <ul class="sizes-list"></ul>
                                    <a class="sizes-table-link" href="#" aria-label="таблица размеров">таблица размеров</a>
                                </div>
                            </div>
                            <a class="sizes-table-link--adaptive" href="#" aria-label="таблица размеров">таблица размеров</a>
                        </div>
                        <div class="product-info__prices">
                            <span class="product-info__price"></span>
                        </div>
                        <div class="submit-block">
                            <button class="btn btn--accent submit-block__btn">Добавить в корзину</button>
                            <span class="submit-block__tip">наличие товара уточняйте у продавца</span>
                        </div>
                    </div>
                </div>
                <div class="product-descr">
                    <p class="product-descr__text"></p>
                    <div class="product-descr__more-block">
                        <p class="more-block__text"></p>
                    </div>
                    <a class="product-descr__more" href="#" aria-label="подробнее">подробнее
                        <svg class="product-descr__more__icon" viewBox="0 0 8 8" width="8px" height="8px">
                            <rect y="3" width="8" height="2"/>
                            <rect class="plus-vertical" y="3" transform="matrix(4.501980e-011 1 -1 4.501980e-011 8 -1.809886e-010)" width="8" height="2"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="quickview-footer">
            <a class="quickview-footer__link" href="" aria-label="перейти на страницу с товаром">перейти на страницу с товаром</a>
        </div>
    </div>
</div>
