<div class="adaptive-nav">

    <button class="close-btn adaptive-close" aria-label="Закрыть адаптивное меню">
        <span class="close-btn__line"></span>
        <span class="close-btn__line"></span>
    </button>

    <button class="search search--adaptive" aria-label="Открыть поиск">
        <svg class="search__icon" viewBox="0 0 15 15" width="15px" height="15px">
            <path class="cls-1" d="M14.67,13.06l-2.95-2.95A6.43,6.43,0,0,0,6.44,0,6.44,6.44,0,0,0,1.89,11a6.42,6.42,0,0,0,8.22.72l3,3A1.14,1.14,0,0,0,14.67,13.06ZM6.44,10.61A4.17,4.17,0,1,1,9.39,9.38h0A4.15,4.15,0,0,1,6.44,10.61Z"/>
        </svg>
        <span class="search__text">поиск</span>
    </button>
    <form class="search-form search-form--adaptive" action="search-results.html">
        <input class="search-form__input" type="search" name="search" placeholder="Введите запрос">
        <button class="search-form__btn" aria-label="Искать">поиск</button>
    </form>

    <ul class="adaptive-nav__main-nav">
        <li class="main-nav__item">
            <a class="item__link" href="about.html">о компании</a>
        </li>
        <li class="main-nav__item">
            <a class="item__link" href="catalog.html">каталог</a>
        </li>
        <li class="main-nav__item">
            <a class="item__link" href="consumer-information.html#payment">оплата</a>
        </li>
        <li class="main-nav__item">
            <a class="item__link" href="consumer-information.html#delivery">доставка и возврат</a>
        </li>
        <li class="main-nav__item">
            <a class="item__link" href="consumer-information.html#faq">вопросы и ответы</a>
        </li>
        <li class="main-nav__item">
            <a class="item__link" href="contacts.html">контакты</a>
        </li>
    </ul>

    <ul class="adaptive-nav__catalog-nav">
        <li class="catalog-nav__item">
            <span class="item__link">спортивное плавание
                <svg class="item__link__icon" viewBox="0 0 8 8" width="8px" height="8px">
                    <rect y="3" width="8" height="2"/>
                    <rect class="plus-vertical" y="3" transform="matrix(4.501980e-011 1 -1 4.501980e-011 8 -1.809886e-010)" width="8" height="2"/>
                </svg>
            </span>
            <div class="catalog-nav__categories">
                <ul class="categories-nav">
                    <li class="categories-nav__item">
                        <a class="categories-nav__item__link" href="#">Шапочки для плавания</a>
                    </li>
                    <li class="categories-nav__item">
                        <a class="categories-nav__item__link" href="#">Аксессуары</a>
                    </li>
                    <li class="categories-nav__item">
                        <a class="categories-nav__item__link" href="#">Электронные устройства</a>
                    </li>
                    <li class="categories-nav__item">
                        <a class="categories-nav__item__link" href="#">Лопатки</a>
                    </li>
                    <li class="categories-nav__item">
                        <a class="categories-nav__item__link" href="#">Полотенца</a>
                    </li>
                    <li class="categories-nav__item">
                        <a class="categories-nav__item__link" href="#">Тренажеры</a>
                    </li>
                </ul>
                <a class="see-all" href="#">каталог спортивного плавания</a>
            </div>
        </li>
        <li class="catalog-nav__item">
            <span class="item__link">фитнес
                <svg class="item__link__icon" viewBox="0 0 8 8" width="8px" height="8px">
                    <rect y="3" width="8" height="2"/>
                    <rect class="plus-vertical" y="3" transform="matrix(4.501980e-011 1 -1 4.501980e-011 8 -1.809886e-010)" width="8" height="2"/>
                </svg>
            </span>
            <div class="catalog-nav__categories">
                <ul class="categories-nav">
                    <li class="categories-nav__item">
                        <a class="categories-nav__item__link" href="#">Шапочки для плавания</a>
                    </li>
                    <li class="categories-nav__item">
                        <a class="categories-nav__item__link" href="#">Аксессуары</a>
                    </li>
                    <li class="categories-nav__item">
                        <a class="categories-nav__item__link" href="#">Электронные устройства</a>
                    </li>
                    <li class="categories-nav__item">
                        <a class="categories-nav__item__link" href="#">Лопатки</a>
                    </li>
                    <li class="categories-nav__item">
                        <a class="categories-nav__item__link" href="#">Полотенца</a>
                    </li>
                    <li class="categories-nav__item">
                        <a class="categories-nav__item__link" href="#">Тренажеры</a>
                    </li>
                </ul>
                <a class="see-all" href="catalog.html">каталог спортивного плавания</a>
            </div>
        </li>
        <li class="catalog-nav__item">
            <span class="item__link">водное поло
                <svg class="item__link__icon" viewBox="0 0 8 8" width="8px" height="8px">
                    <rect y="3" width="8" height="2"/>
                    <rect class="plus-vertical" y="3" transform="matrix(4.501980e-011 1 -1 4.501980e-011 8 -1.809886e-010)" width="8" height="2"/>
                </svg>
            </span>
        </li>
        <li class="catalog-nav__item">
            <span class="item__link">дайвинг
                <svg class="item__link__icon" viewBox="0 0 8 8" width="8px" height="8px">
                    <rect y="3" width="8" height="2"/>
                    <rect class="plus-vertical" y="3" transform="matrix(4.501980e-011 1 -1 4.501980e-011 8 -1.809886e-010)" width="8" height="2"/>
                </svg>
            </span>
        </li>
        <li class="catalog-nav__item">
            <span class="item__link">аквааэробика
                <svg class="item__link__icon" viewBox="0 0 8 8" width="8px" height="8px">
                    <rect y="3" width="8" height="2"/>
                    <rect class="plus-vertical" y="3" transform="matrix(4.501980e-011 1 -1 4.501980e-011 8 -1.809886e-010)" width="8" height="2"/>
                </svg>
            </span>
        </li>
        <li class="catalog-nav__item">
            <span class="item__link">одежда и обувь
                <svg class="item__link__icon" viewBox="0 0 8 8" width="8px" height="8px">
                    <rect y="3" width="8" height="2"/>
                    <rect class="plus-vertical" y="3" transform="matrix(4.501980e-011 1 -1 4.501980e-011 8 -1.809886e-010)" width="8" height="2"/>
                </svg>
            </span>
        </li>
        <li class="catalog-nav__item">
            <span class="item__link">другое
                <svg class="item__link__icon" viewBox="0 0 8 8" width="8px" height="8px">
                    <rect y="3" width="8" height="2"/>
                    <rect class="plus-vertical" y="3" transform="matrix(4.501980e-011 1 -1 4.501980e-011 8 -1.809886e-010)" width="8" height="2"/>
                </svg>
            </span>
        </li>
        <li class="catalog-nav__item">
            <a href="#" class="item__link stoke">распродажи</a>
        </li>
    </ul>
</div>
